.title {
  display: block;
  text-align: center;
  font-size: 45px;
  letter-spacing: 2px;
}

.bracket {
  display: inline-block;
  color: var(--accent-color);
}

@media (max-width: 750px) {
  .title {
    font-size: 40px;
  }
}

@media (max-width: 700px) {
  .title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 8vw;
  }
}
