.toggle {
  padding: 0;
  width: 30px;
  height: 30px;
  color: var(--gold);
  background-color: #2f363d;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle:focus {
  outline: none;
}

.toggle:hover {
  cursor: pointer;
}

.toggle svg {
  width: 15px;
}

.light {
  background-color: var(--accent-color);
}

.light svg {
  color: white;
}
