.title {
  margin-bottom: 10px;
}

.title h3 {
  font-size: 25px;
  letter-spacing: 2px;
  font-family: 'Space Mono', monospace;
  color: var(--accent-color);
}

.company {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-style: italic;
  margin-bottom: 15px;
}

.company p {
  font-size: 16px;
}

.about {
  margin: 10px 0;
  padding-inline-start: 20px;
  padding-inline-end: 40px;
}

.about li {
  margin: 10px 0;
}

.skills {
  margin: 15px 0;
  display: flex;
  flex-wrap: wrap;
}

.skill {
  display: block;
  margin: 5px;
  padding: 7px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}

.skill:first-child {
  margin-left: 0;
}

.skill-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--accent-color);
  opacity: 0.25;
}

@media (max-width: 400px) {
  .title h3 {
    font-size: 21px;
  }
}
