*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #222;
  --light: #fff;
  --blue: #679cdf;
  --light-blue: #f6f9fc;
  --pink: #ed64a6;
  --purple: #9f7aea;
  --green: #48bb78;
  --gold: #ffdf5d;

  /* Initial Values */
  --bg-color: #222;
  --font-color: #fff;
  --accent-color: #679cdf;
}

:root.light-mode {
  --bg-color: rgb(255 255 255 / 90%);
  --font-color: #000;
}

html {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--accent-color);
}

html.light-mode .light-mode-bg {
  border-radius: 5px;
  background-color: var(--light);
}

body {
  color: var(--font-color);
  background-color: var(--bg-color);
}

p {
  font-size: 28px;
  line-height: 1.3em;
}

b {
  font-weight: 600;
}

a {
  font-weight: 600;
  color: var(--accent-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

a:hover {
  border-color: var(--accent-color);
}

@media (max-width: 700px) {
  p {
    font-size: 5vw;
  }
}

/* Page Styles */
/* *********** */
.site-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.site-content {
  width: 95%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}

.main-container {
  margin: 20px auto 40px;
  width: 100%;
  max-width: 720px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-height: 1000px) {
  .main-container {
    margin-top: 40px;
  }
}

@media (max-height: 850px) {
  .main-container {
    margin-top: 25px;
  }
}

@media (max-width: 800px) {
  .main-container {
    max-width: 90%;
  }
}

.box-highlight {
  color: var(--font-color);
  border: 1px solid var(--accent-color);
  box-shadow: 6px 6px 0 -1px var(--accent-color);
}

/* Animations */
/* ********** */
.page-enter {
  opacity: 0;
  transform: scale(0.9);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.wave {
  display: inline-block;
  animation: 3s ease-in-out infinite wave;
}

@keyframes wave {
  0%,
  20%,
  40%,
  100% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-20deg);
  }
  30% {
    transform: rotate(-20deg);
  }
}
