.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.subtitle {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  padding: 8px 10px 10px;
  font-style: italic;
  font-size: 12px;
  line-height: 1.1em;
}

.content {
  padding: 20px;
  margin: -20px;
}

.welcome,
.shortBio {
  margin-bottom: 20px;
}
